{% assign data = site.data.nav.footer %}

<footer class="usa-footer">
  {% comment %}
    <!-- <div class="grid-container usa-footer__return-to-top">
      <a href="#">Return to top</a>
    </div> -->
  {% endcomment %}
  <div class="usa-footer__primary-section usa-section--dark">
    <nav class="usa-footer__nav padding-y-6" aria-label="Footer navigation">
      <div class="grid-row grid-gap display-flex flex-row">
        <div class="grid-col-4">
          <em class="usa-logo__text">
            <a href="{{ site.baseurl }}" title="{{ site.title }}">
              {{ site.title }}
            </a>
          </em>
        </div>
        <div class="grid-col-4">
          <em class="usa-logo__text">
            <a href="{{ site.baseurl }}" title="Census Logo">
              CENSUS LOGO
            </a>
          </em>
        </div>
        <div class="grid-col-4">
          <span>{{ data.title }}</span>
          <ul class="margin-top-1 usa-list">
          {% for link in data.links %}
            <li>
              <a 
                class="usa-footer__secondary-link" 
                href="{% unless link.isExternal %}{{ site.baseurl }}{% endunless %}{{ link.href }}"
              >
                {{ link.text }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</footer>