{% assign data = site.data.nav.footer %}

<footer class="usa-footer">
  <div class="usa-footer__primary-section usa-section--dark">
    <nav class="usa-footer__nav padding-y-6" aria-label="Footer navigation">
      <div class="grid-row grid-gap display-flex flex-row">
        <div class="grid-col-4">
          <em class="usa-logo__text">
            <a href="https://www.xd.gov/" title="{{ site.title }}" class="text-no-underline display-flex flex-row flex-align-center flex-justify-center" target="_blank">
              <img src="{{site.baseurl}}/assets/img/xd-logo-white.svg" alt="xd.gov logo" class="maxh-8"/>
              <span>xD</span>
            </a>
          </em>
        </div>
        <div class="grid-col-8 mobile-lg:grid-col-4 text-center">
          <em class="usa-logo__text">
            <a href="https://www.census.gov/" title="US Census Bureau Logo" target="_blank">
              <img 
                src="{{site.baseurl}}/assets/img/census-logo.png" 
                alt="United States Census Bureau logo" 
                class="maxh-8"/>
            </a>
          </em>
        </div>
        <div class="mobile-lg:grid-col-4 margin-top-2 mobile-lg:margin-top-neg-2">
          <div class="site--centered">
            <span>{{ data.title }}</span>
            <ul class="usa-list margin-top-1">
            {% for link in data.links %}
              <li>
                <a 
                  class="usa-footer__secondary-link" 
                  href="{% unless link.isExternal %}{{ site.baseurl }}{% endunless %}{{ link.href }}"
                >
                  {{ link.text }}
                </a>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</footer>