{% assign data = site.data.nav.primary %}
{% assign includeSearch = include.includeSearch %}
{% assign pageSlug = page.url | slugify %}

<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="xd-logo">
        <em class="usa-logo__text">
          <a href="{{ site.baseurl }}" title="{{ site.title }}">
            {{ site.title }}
          </a>
        </em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>

    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close">
        <img src="{{ site.baseurl }}/assets/uswds/img/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        {% for section in data %}
          {% assign isCurrent = false %}
          {% if section.href %}
            {% assign sectionSlug = section.href | slugify %}
            {% if sectionSlug == pageSlug %}
              {% assign isCurrent = true %}
            {% endif %}
          {% elsif section.links %}
            {% for link in section.links %}
              {% assign linkSlug = link.href | slugify %}
              {% if linkSlug == pageSlug %}
                {% assign isCurrent = true %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          <li class="usa-nav__primary-item">
            {% if section.links %}
              {% assign section_id = "basic-nav-" | append: section.text | slugify %}
              <button
                class="usa-accordion__button usa-nav__link {%if isCurrent%}usa-current{% endif %}"
                aria-expanded="false"
                aria-controls="{{section_id}}"
              >
                <span>{{ section.text }}</span>
              </button>
              <ul id="{{section_id}}" class="usa-nav__submenu">
                {% for link in section.links %}
                  <li class="usa-nav__submenu-item">
                    <a href="{{ site.baseurl }}{{ link.href }}">{{link.text}}</a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <li class="usa-nav__primary-item">
                <a href="{{ site.baseurl }}{{ section.href }}" class="usa-nav__link {%if isCurrent%}usa-current{% endif %}">
                  <span>{{section.text}}</span>
                </a>
              </li>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      {% if includeSearch %}
        <form class="usa-search usa-search--small" role="search">
          <label class="usa-sr-only" for="basic-search-field-en-small">
            Search
          </label>
          <input
            class="usa-input"
            id="basic-search-field-en-small"
            type="search"
            name="search"
          />
          <button class="usa-button" type="submit">
            <span class="usa-sr-only">Search</span>
          </button>
        </form>
      {% endif %}
    </nav>
  </div>
</header>