/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

h2 {
   margin-block-start: 0.83em;
   margin-block-end: 0.83em;
}

.site-heading {
   @include u-color('base');
   @include u-text('uppercase', 'normal');
   &--small {
      @include u-font('sans', 'xs')
   }
   &--xs {
      @include u-font('sans', '2xs')
   }
}

.site-topper {
   @include u-margin-top(0);
   position: relative;
   &::before {
      content: '';
      @include u-bg('primary');
      height: 10px;
      width: 50px;
      position: absolute;
      top: -13px;
   }
   &--accent {
      @extend .site-topper;
      &::before {
         @include u-bg('accent-cool-lighter');
      }
   }
}

.site-button-link {
   @include u-padding-x(1.5);
   @include u-padding-y(1);
   @include u-radius('pill');
   @include u-bg('white');
   text-decoration: none;
   @include u-text('bold');
   @include u-border('05', 'solid', 'primary');
   @include u-color('primary');
   display: inline-block;
   width: max-content;
   &:visited {
      border-color: color('violet-70v');
      &::after {
         background-color: color('violet-70v');
      }
   }
   &:hover, &:active {
      @include u-border('primary-dark');
      @include u-color('primary-dark');
      &::after {
         @include u-margin-left('105');
         @include u-bg('primary-dark');
      }
   }
   &::after {
      content: ' ';
      background-image: url(../../img/arrow-white.svg);
      background-size: 24px 24px;
      background-position: center;
      background-repeat: no-repeat;
      padding: 0 0.75em;
      @include u-bg('primary');
      @include u-radius('pill');
      color: white;
      @include u-margin-left(1);
      transition: all 100ms ease;
   }

   &--accent {
      @include u-border(0);
      @include u-color('secondary');
      &::after {
         @include u-bg('accent-cool-lighter');
         @include u-color('white');
      }
      &:hover, &:active {
         @include u-color('secondary-dark');
         &::after {
            @include u-bg('accent-cool-light');
         }
      }
      &:visited {
         &::after {
            @include u-bg('accent-cool-light');
         }
      }
   }
}

.site-card__container {
   box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.25);
   @include u-radius('md');

   &--accent {
      @include u-margin-x(0);
      @include u-bg('secondary');
      @include u-color('white');
   }

   // prevent button overflow b/w 640 and 800 pixels by scooting left slightly
   .site-button-link {
      @include at-media('tablet') {
         @include u-margin-left('neg-2');
      }
      @include at-media('tablet-lg') {
         @include u-margin-left(0);
      }
   }
}

.site-card__meta {
   order: -1;
   @include u-margin-bottom(2, !important);
   .usa-tag  {
      @include u-padding-x(1.5);
      @include u-padding-y(1);
      @include u-radius('pill');
      @include u-bg('accent-cool-lighter');
      @include u-text('bold');
   }

   &--accent {
      .usa-tag {
         background-color: white;
         @include u-color('secondary');
      }
   }
}

.site--centered {
   width: max-content;
   @include u-margin-x('auto');
}

.site-gradient {
   position: absolute;
   right: 0px;
   width: 40vw;
   height: 63vh;
   background: rgb(253,68,150);
   background: linear-gradient(328deg, rgba(253,68,150,1) 0%, rgba(169,183,255,1) 40%, rgba(131,252,212,1) 100%);
   @include at-media-max('mobile-lg') {
      display: none;
   }
   @include at-media('tablet') {
      height: 58vh;
   }
   @include at-media('tablet-lg') {
      height: 52vh;
   }
}

#site-gradient__buttons {
   @include at-media('mobile-lg') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}