/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

$color-brand-blue: #112e51;
$color-brand-teal: #13E1BF;
$color-brand-purple: #3E375A;

.site-heading--small {
   @include u-color('base');
   @include u-text('uppercase', 'normal');
   @include u-font('sans', 'xs')
}

.site-button-link {

}

.site-card {
   .usa-card__container {
      box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.56);
   }
   &--featured {
      
   }
}