/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

$color-brand-blue: #112e51;
$color-brand-teal: #13E1BF;
$color-brand-light-teal: #D3F2ED;
$color-brand-purple: #3E375A;
$color-brand-light-purple: #676AF6;
$color-brand-magenta:  #9E3FA6;

.site-heading--small {
   @include u-color('base');
   @include u-text('uppercase', 'normal');
   @include u-font('sans', 'xs')
}

.site-button-link {
   @include u-padding-x(1.5);
   @include u-padding-y(1);
   @include u-radius('pill');
   @include u-bg('white');
   border: 2px solid $color-brand-magenta;
   color: $color-brand-magenta;
   &::after {
      content:'>';
      background-color: $color-brand-magenta;
      @include u-radius('pill');
      color: white;
      @include u-padding-x(1);
      @include u-margin-left(1);
   }
   &--accent {

   }
}

.site-card__container {
   box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.56);

   &--accent {
      @include u-margin-x(0);
      background-color: $color-brand-light-purple;
      @include u-color('white');
   }
}

.site-card__meta {
   order: -1;
   @include u-margin-bottom(2, !important);
   .usa-tag  {
      @include u-padding-x(1.5);
      @include u-padding-y(1);
      @include u-radius('pill');
      background-color: $color-brand-light-teal;
   }

   &--accent {
      .usa-tag {
         background-color: white;
         color: $color-brand-light-purple;
      }
   }
}

