---
layout: base
---

<div class="site-gradient">
</div>

<section class="padding-y-6">
  <div class="grid-container grid-row">
    <div class="mobile-lg:grid-col-6">
      <h1 class="maxw-mobile">{{ page.title }}</h1>
      <p class="margin-bottom-6">{{ page.subtitle }}</p>
      <a class="site-button-link" href="{{ site.tools.starter-guide.url }}">Get Started</a>
    </div>
    <div class="mobile-lg:grid-col-4 mobile-lg:grid-offset-2" id="site-gradient__buttons">
      <div class="mobile-lg:margin-left-8">
        <a class="site-button-link" href="{{ site.tools.starter-guide.url }}">Get Started</a>
      </div>
      <div class="">
        <a class="site-button-link" href="{{ site.tools.starter-guide.url }}">Get Started</a>
      </div>
    </div>
    
  </div>


  
</section>

<section class="bg-base-lightest">
  <div class="grid-container">
    <h2 class="site-heading">Popular Resources</h2>
    <ul class="usa-card-group">
      {% assign nonFeatured = site.tools | where_exp: "tool", "tool.featured == nil or tool.featured == false" %}
      {% for tool in nonFeatured %}
        <li class="tablet:grid-col-4 usa-card site-card">
          {% include resource-card__container.html data=tool %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>