---
layout: base
---

<div class="site-radial">
</div>
<section class="padding-bottom-6">
  <div class="grid-container">
    <div class="grid-row">
      <div class="mobile-lg:grid-col-8">
        <h1 class="maxw-mobile">{{ page.title }}</h1>
        <p class="margin-bottom-6">{{ page.subtitle }}</p>
        <a class="site-button-link" href="{{ site.tools.starter-guide.url }}">Get Started</a>
      </div>
    </div>

    
  </div>


  
</section>

<section class="bg-base-lightest">
  <div class="grid-container">
    <h2 class="site-heading">Popular Resources</h2>
    <ul class="usa-card-group">
      {% assign nonFeatured = site.tools | where_exp: "tool", "tool.featured == nil or tool.featured == false" %}
      {% for tool in nonFeatured %}
        <li class="tablet:grid-col-4 usa-card site-card">
          {% include resource-card__container.html data=tool %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>