---
layout: default
---

<p class="site-heading--small">RESOURCE</p>
{% if page.tags %}
  <ul class="usa-collection__meta site-card__meta {% if page.featured %}site-card__meta--accent{% endif %}" aria-label="Topics">
    {% for tag in page.tags %}
      <li class="usa-collection__meta-item usa-tag">{{ tag | capitalize }}</li>
    {% endfor %}
  </ul>
{% endif %}

<h1 class="font-sans-3xl">{{ page.display-title | default: page.title }}</h1>
<div class="display-flex flex-row flex-justify">
  <div>
    {% if page.agency-partners %}
      <span class="text-base text-sans-sm">Agency Partners:</span>
      <span class="text-sans-sm">
        {% for partner in page.agency-partners %}
          <a class="usa-link" href="{{ partner.href }}">{{ partner.text }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <div>
    <a 
      class="usa-link site-button-link"
      href="{{ page.github | default: 'https://github.com/XDgov' }}">
      Go to GitHub
    </a>
  </div>
</div>
{{ content }}

<div class="margin-top-6">
  <a 
    class="usa-link site-button-link"
    href="{{ page.github | default: 'https://github.com/XDgov' }}">
    Go to GitHub
  </a>
</div>