---
layout: default
---

<p class="site-heading--small">RESOURCE</p>
<span class="site-tag">TECHNIQUES</span>

<h1>{{ page.display-title | default: page.title }}</h1>
<div class="display-flex flex-row flex-justify">
  <div>
    {% if page.agency-partners %}
      <span class="text-base text-sans-sm">Agency Partners:</span>
      <span class="text-indigo text-sans-sm">
        {% for partner in page.agency-partners %}
          <a href="{{ partner.href }}">{{ partner.text }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <div>
    <a 
      class="usa-link site-button-link"
      href="{{ page.github | default: 'https://github.com/XDgov' }}">
      Go to GitHub
    </a>
  </div>
</div>
{{ content }}

<div class="margin-top-6">
  <a 
    class="usa-link site-button-link"
    href="{{ page.github | default: 'https://github.com/XDgov' }}">
    Go to GitHub
  </a>
</div>